.separator {
    &::after {
        background-image: url( './dist/assets/images/separador.png' );
        background-repeat: no-repeat;
        background-position: center;
        //border: 1px solid orange;
        content: '';
        display: block;
        height: 70px;
        margin: 0 auto;
        width: 100%;
    }

    &--light::after {
        background-image: url( './dist/assets/images/separador_alternativo.png' );
        background-repeat: no-repeat;
        background-position: center;
        //border: 1px solid orange;
        content: '';
        display: block;
        height: 70px;
        margin: 0 auto;
        width: 100%;
    }
}

