// Backgrounds
$color__background-content: #FFF;
$color__background-bg-primary: #F46669;
$color__background-bg-secondary: #303030;
$color__background-btn-primary: #F46669;
$color__background-badge: #F5F5F5;
$color__background-list-group-primary: #F46669;
$color__background-lessons: #F5F5F5;

// Borders
$color__border-footer: #F46669;
$color__border-link: #F46669;
$color__border-content: #E1E1E1;
$color__border-content-experience: #FFFFFF;
$color__border-content-about-us: #303030;
$color__border-btn-primary: #F46669;
$color__border-left-outstanding-phrase: #F46669;

// Links
$color__link: black;
$color__link-active: #F46669;
$color__link-hover: #F46669;
$color__link-visited: black;
$color__link-focus: rgb(245, 176, 177);
$color__link-text-light: white;
$color__link-sidebar: #F5F5F5;
$color__link-sidebar-hover: #F5F5F5;

// Text
$color__text-main: #303030;
$color__text-badge-secondary: black;
$color__text-card-title: black;
$color__text-card-subtitle: #F46669;
$color__text-author: #F46669;
$color__text-name: #F46669;
$color__text-subtitle: #F46669;
$color__text-date: #F46669;