.lessons {
    .card {
        .badge-secondary {
            background-color: $color__background-badge;
            color: $color__text-badge-secondary;
            font-size: .9rem;
        }

        &-title {
            font-weight: 700;
        }
        &--subtitle {
            color: darken( $color__text-card-subtitle, 10% );
            font-size: .9rem;
            font-weight: 400;
        }
    }
}