.page {
    
    .content {
        background-color: $color__background-content;
        border: 1px solid $color__border-content;
        margin-top: -5rem;
        position: relative;
        z-index: 100;
    }    
}